table.TicTacToe {
    border-spacing: 0px;
}

    table.TicTacToe > tr:nth-child(-n+2) > td {
        border-bottom: 5px solid black;
    }

    table.TicTacToe > tr > td:nth-child(-n+2) {
        border-right: 5px solid black;
    }

    table.TicTacToe > tr > td {
        width: 100px;
        height: 100px;
        background-color: whitesmoke;
        text-align: center;
        font-size: 60px;
        cursor: pointer;
    }

table.TttInfo {
    border: 1px dotted gray;
    padding: 10px;
    font-size: 1rem;
}

    table.TttInfo > tr > td:first-child {
        text-align: right;
        padding-right: 5px;
    }