@page "/Tic-Tac-Toe"

<h3>Tic-Tac-Toe</h3>

<table class="TicTacToe">
    @for (int row = 1; row < 9; row += 3)
    {
        <tr>
            @for (int col = 0; col < 3; col++)
            {
                int idx = row + col;
                <td onclick="@(()=>todo(idx))">@Mark(idx)</td>
            }
        </tr>
    }
</table>

@message

@code
{
    int count = 1;
    string? message;

    void todo(int idx)
    {
        count++;
        message = $"={count}, {idx}=";
        this.StateHasChanged();
    }

    char Mark(int idx)
    {
        return idx % 2 == 1 ? '\u2715' : '\u25EF';
    }
}