@page "/Tic-Tac-Toe"
@using z020.Website.Services;
@using z020.Website.Services.TicTacToe;
@inject TicTacToeEngine ttt
@inject UserService user

<h3>Tic-Tac-Toe</h3>
<MudDivider Class="my-3"/>

<MudPaper>
    <MudButton>New Game</MudButton>
    <MudButton>Join a Game</MudButton>
</MudPaper>

<MudGrid>
    @if (boardNames != null)
    {
        @foreach (var item in boardNames)
        {
            <MudItem>
                <Tic_Tac_Toe_Board BoardName="@item" />
            </MudItem>
        }
    }
</MudGrid>

@message

@code
{
    private string userId = string.Empty;
    private IEnumerable<string>? boardNames;
    private string? message;

    protected async override Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        userId = await user.GetUserID();
        message = userId;
        GetListOfBoards();
    }

    private void GetListOfBoards()
    {
        boardNames = ttt.UsersBoardNames(userId);
    }
}
