@page "/TicTacToe"

<h3>Tic-Tac-Toe</h3>
<MudDivider Class="my-3"/>

<MudPaper>
    <MudButton @onclick="NewBoardAsync">New</MudButton>
    <MudButton>Join</MudButton>
</MudPaper>

<MudGrid>
    @if (boardNames == null || boardNames.Count() == 0)
    {
        <MudItem Class="pa-10">
            Add or join a game.
        </MudItem>
    }
    else
    {
        @foreach (var name in boardNames)
        {
            <MudItem>
                <TicTacToe_Board BoardName="@name" Player="@player" />
            </MudItem>
        }
    }
</MudGrid>

